<div *ngFor="let noticia of noticias">
  <div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a [routerLink]="['/auth/noticias', noticia.idnoticia]" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">
            {{noticia.titulo}}
          </div>
          <div class="ag-courses-item_date-box">
            Fecha:
            <span class="ag-courses-item_date">
              {{noticia.fecha_public}}
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
